@{
    ViewData["Title"] = "Home Page";
}

        <!--Anoucement Start-->
        <section class="main-slider-one">
          
            <div class="main-slider-shape-dots"><img src="assets/images/shapes/main-slider-shape-dots.png" alt=""></div>
            
            <div class="main-slider-img"><img src="assets/images/main-slider/slider-1-1.png" alt=""></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="main-slider-one-left-content">
                            <div class="main-slider-one-shape-bg"></div>
                            <div class="main_slider_one_left">
                                <h4>Bienvenue!</h4>
                                <h2> Numéro Cin</h2>
                                <div class="Subscription_input_box">
                                    <input type="Email" placeholder="Entrer numéro cin">
                                    <button type="submit" class="button"><span class=" fa fa-paper-plane "></span></button>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Anoucement End-->
